body
{
	background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
 	background-blend-mode: multiply;
	width:100%;
}
.text-shadow
{
	text-shadow:2px 2px 8px #000000;
}
#container
{
	margin-left:auto;
	margin-right:auto;
	width:100%;
}
#header
{
	margin:5% 5% 5% 5%;
	padding:2%;
	color:white;
	text-align:center;
	font-family:"Helvetica";
}
.logo
{
	font-size:3vw;
}
.description
{
	text-transform:uppercase;
	opacity:0.95;
	letter-spacing:0.2rem;
	font-size:0.7vw;
	line-height:2vw;
}
.menu
{
	width: 90%;
  	margin: 0 auto;
}
.list 
{
	font-family:sans-serif;
	letter-spacing: 0.3rem;
	text-transform:uppercase;
	list-style-type:none;
  	float: left;
  	border: 1px solid white;
  	border-radius:10px;
  	outline: none;
  	cursor: pointer;
  	padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  	transition: 0.3s;
  	font-size:1.5vw;
  	margin:1%;
}
.list:hover
{
	transition: 0.3s;
	background-color:#c2c2d6;
}
#content
{
	position: fixed;
  	width: 80%;
  	height: 80%;
  	top: 10%;
  	left: 10%;
  	right: 0;
  	bottom: 0;
  	background-color: rgba(0,0,0,0.85);
  	z-index: 2;
  	text-align:center;
  	color:white;
	font-family:monospace;
	font-size:1.5vw;
}
#content.h3
{
	transform: translate(-50%,-50%);
}
input[type=text], textarea 
{
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}
#footer 
{
  	position: fixed;
  	letter-spacing: 0.3rem;
  	opacity:0.8;
  	text-transform:uppercase;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	margin:0;
  	padding:0;
  	color: white;
  	text-align: center;
  	font-size:0.5vw;
}
.link
{
	color:#ffffff;
	text-decoration:none;
}
