body
{
	background-color:#202020;	
}
#container
{
	width:100%;
	color:white;
	font-family:"Helvetica";
}
#header, #rest
{
	padding:2%;
	text-align:center;
	line-height:3.5vw;
	font-size: 2vw;
}
#header>h1
{
	letter-spacing:0.4rem;

}
#header>p
{
	letter-spacing:0.2rem;
}
.link
{
	padding:1%;
	text-decoration: none;
	color:white;
	text-shadow:2px 2px 8px #000000;
	background-color:#4CAF50;
	border-radius:10px;
}
.link:hover
{
	transition: 0.3s;
	background-color: #7FDF83;
}
.account
{
	display:flex;
	margin: 5% auto 5% auto;
	width:80%;
	box-shadow: 10px 10px 10px 9px rgba(240,248,255,1);
	font-family:"Helvetica", sans-serif;
	overflow:auto;
	border-radius:10px;
}
.account:nth-of-type(odd)
{
	flex-direction: row-reverse;
}
.account:first-of-type
{
	margin-top:2%;
}
.nickname
{
	align-self: stretch;
	text-align: center;
	padding:5%;
	font-size:2vw;
	background-color:#a2b9bc;
	text-shadow:2px 2px 8px #000000;
	float:both;
}
.division, .role
{
	letter-spacing: 0.1rem;
	align-self:flex-start;
	text-align:center;
	padding:2%;
}
.photo
{
	border-radius:10px;
	margin-top:3%;
	width:120px;
	height: 120px;
}
.champions
{
	align-self:stretch;
	text-align:center;
	padding:1%;
	float:left;
}
.champion-photo > img
{
	width:55%;
}
caption
{
	font-size:20px;
	margin-bottom:2%;
}
.match_history
{
	padding:1%;
	float:both;
}
