body
{
	background-color:#202020;	
}
#container
{
	width:100%;
	color:white;
	font-family:"Helvetica";
}
#header
{
	padding:2%;
	text-align:center;
	line-height:3.5vw;
	font-size: 2vw;
}
#header>h1
{
	letter-spacing:0.4rem;

}
#header>p
{
	letter-spacing:0.2rem;
}
.account
{
	display:flex;
	margin: 5% auto 5% auto;
	width:85%;
	box-shadow: 10px 10px 10px 9px rgba(240,248,255,1);
	font-family:"Helvetica", sans-serif;
}
.account:nth-of-type(odd)
{
	flex-direction: row-reverse;
}
.nickname
{
	align-self: stretch;
	text-align: center;
	padding:5%;
	font-size:2vw;
	background-color:#a2b9bc;
	text-shadow:2px 2px 8px #000000;
	float:both;
}
.division, .role
{
	letter-spacing: 0.1rem;
	line-height: 1.5vw;
	align-self:center;
	text-align:center;
	padding:2%;
	float:left;
}
.photo
{
	width:120px;
	height:120px;
}
.champions
{
	align-self:stretch;
	text-align:center;
	padding:1%;
	float:left;
}
.champion-photo > img
{
	width:55%;
}
.match_history
{
	padding:1%;
	float:both;
}
